<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <p>
            <div>
                Hi,
            </div>
            Please find the attached tax form filled by a your customer
        </p>
        <p>
            <div>Date Submitted: {DateSubmitted} </div>
            <div>Time : {TimeSubmitted} </div>
            <div>IP Address : {IPAddress} </div>
        </p>
        <p>
            <div>Regards</div>
            Nlync Tax Service
        </p>
    </div>
</body>
</html>