@model TaxService.Models.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .card-text {
        color: #5e72e4 !important;
    }
</style>

<div class="container-fluid">
    <div class="col-lg-3">
    <div class="card " >      
        <div class="card-body">
            <h5 class="card-title">Total Customers</h5>
            <h2 class="card-text">
                <a href="@Url.Action("Index","Customers")">@ViewBag.NOC</a>
                
            </h2>            
        </div>
    </div>
    </div>
</div>





@section Scripts {

}
